name: CD Spring Qris
on:
  workflow_dispatch:
    branches:
      - master
      - testcd
      - testcd2
  workflow_call:
    secrets:
      DEPLOYMENT_CREDENTIALS:
        required: true
      BUCKET_NAME:
        required: true
      PROJECT_ID:
        required: true
      SONAR_TOKEN:
        required: true
      MAVEN_SETTINGS:
        required: true
  push:
    branches:
      - master
      - testcd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'
          overwrite-settings: false

      - name: Set up Maven settings
        run: |
          mkdir -p $HOME/.m2
          echo "${{ secrets.MAVEN_SETTINGS }}" | base64 --decode > $HOME/.m2/settings.xml


      - name: Cache Maven settings
        uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/settings.xml
          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-settings-

      - name: Build with Maven Wrapper
        run: |
          ./mvnw clean compile

#  unit-test:
#    runs-on: ubuntu-latest
#    needs: build
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v5
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v5
#        with:
#          java-version: '17'
#          distribution: 'adopt'
#          overwrite-settings: false
#
#      - name: Cache Maven settings
#        uses: actions/cache@v4.2.4
#        with:
#          path: ~/.m2/settings.xml
#          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-maven-settings-
#
#      - name: create-json
#        id: create-json
#        uses: jsdaniell/create-json@v1.2.3
#        with:
#          name: "gcs-key.json"
#          json: ${{ secrets.DEPLOYMENT_CREDENTIALS }}
#          dir: 'src/'
#
#      - name: Run Unit Tests
#        run: |
#          ./mvnw test verify jacoco:report \
#          -Dmaven.test.failure.ignore=false
#
#      - name: Upload Unit Test Results
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: unit-test-results
#          path: target/surefire-reports/*.xml
#
#      - name: Publish Test Results
#        if: always()
#        uses: dorny/test-reporter@v2.1.1
#        with:
#          name: JUnit Tests
#          path: target/surefire-reports/*.xml
#          reporter: java-junit
#          fail-on-error: false
#
#      - name: Cache Target Directory
#        uses: actions/cache@v4.2.4
#        with:
#          path: target
#          key: ${{ github.run_id }}-target-${{ hashFiles('**/target/**') }}
#
#
#  sca-test:
#    runs-on: ubuntu-latest
#    needs: build
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v5
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v5
#        with:
#          java-version: '17'
#          distribution: 'adopt'
#          overwrite-settings: false
#
#      - name: Cache Maven settings
#        uses: actions/cache@v4.2.4
#        with:
#          path: ~/.m2/settings.xml
#          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-maven-settings-
#
#      - name: Dependency Review
#        run: |
#          ./mvnw dependency-check:check -DfailBuildOnCVSS=20
#
#      - name: Upload SCA Test Results
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: SCA Report
#          path: target/dependency-check-report.html
#
#  sast:
#    runs-on: ubuntu-latest
#    needs: [unit-test, sca-test]
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v5
#        with:
#          fetch-depth: 0
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v5
#        with:
#          java-version: '17'
#          distribution: 'adopt'
#          overwrite-settings: false
#
#      - name: Restore Target Directory
#        uses: actions/cache@v4.2.4
#        with:
#          path: target
#          key: ${{ github.run_id }}-target-${{ hashFiles('**/target/**') }}
#          restore-keys: |
#            ${{ github.run_id }}-target-
#
#      - name: Run SAST
#        run: |
#          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
#            ./mvnw sonar:sonar \
#            -Dsonar.projectKey=astrapay_${{ github.event.repository.name }} \
#            -Dsonar.pullrequest.key=${{ github.event.number }} \
#            -Dsonar.pullrequest.branch=${{ github.head_ref }} \
#            -Dsonar.pullrequest.base=${{ github.base_ref }} \
#            -Dsonar.organization=astrapay-1 \
#            -Dsonar.host.url=https://sonarcloud.io \
#            -Dsonar.qualitygate.wait=true \
#            -Dsonar.junit.reportPaths=./target/surefire-reports
#          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == "refs/heads/master" ]]; then
#            ./mvnw sonar:sonar \
#            -Dsonar.projectKey=astrapay_${{ github.event.repository.name }} \
#            -Dsonar.branch.name=${{ github.head_ref }} \
#            -Dsonar.organization=astrapay-1 \
#            -Dsonar.host.url=https://sonarcloud.io \
#            -Dsonar.qualitygate.wait=true \
#            -Dsonar.junit.reportPaths=./target/surefire-reports
#          fi
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-package:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Cache Maven settings
        uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/settings.xml
          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-settings-

      - name: Build Package
        run: ./mvnw clean package -DskipTests -Ddependency-check.skip=true

      - name: Cache target directory
        uses: actions/cache@v4.2.4
        with:
          path: target
          key: ${{ runner.os }}-target-${{ hashFiles('**/target/**') }}
          restore-keys: |
            ${{ runner.os }}-target-

  deploy-snapshot:
    needs: build-package
    name: Snapshot Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Import GPG Owner Trust
        run: echo ${{secrets.GPG_OWNERTRUST}} | base64 --decode | gpg --import-ownertrust

      - name: Import GPG key
        run: echo ${{secrets.GPG_SECRET_KEYS}} | base64 --decode | gpg --import --no-tty --batch --yes

      - name: Configure GPG Key
        run: echo -n "$GPG_SECRET_KEYS" | base64 --decode | gpg --import
        env:
          GPG_SECRET_KEYS: ${{ secrets.GPG_SECRET_KEYS }}

      - name: Configure Git user
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"

      - name: Deploy snapshot
        run: >
          mvn --batch-mode --settings settings.xml
          -DskipTests
          -Dgpg.keyname=${{secrets.GPG_KEYNAME}}
          -Dgpg.passphrase=${{secrets.GPG_PASSPHRASE}}
          -DperformRelease=false
          deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  Release-Prepare:
    runs-on: ubuntu-latest
    environment: 'PROD'
    needs: deploy-snapshot

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Restore Maven settings
        uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/settings.xml
          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-settings-

      - name: Release Prepare
        run: |
          git config --global user.email "devops@astrapay.com"
          git config --global user.name "Devops Astrapay"
          ./mvnw -B release:clean release:prepare -DtagNameFormat=v@{project.version} -Darguments="-DskipTests -Ddependency-check.skip=true" -DscmCommentPrefix="[maven-release-plugin][ci-skip]"
          ls -al target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Save Pom XML
        uses: actions/upload-artifact@v4
        with:
          name: pom.xml
          path: ./pom.xml

      - name: Save release.properties
        uses: actions/upload-artifact@v4
        with:
          name: release.properties
          path: ./release.properties

      - name: Save pom xml.releaseBackup
        uses: actions/upload-artifact@v4
        with:
          name: pom.xml.releaseBackup
          path: ./pom.xml.releaseBackup

      - name: Get Main Apps File
        id: get-apps
        run: |
          APP_BIN_FILE=$(ls target/*.jar | grep -v 'stubs' | head -n 1 | xargs -n 1 basename)
          echo "APP_BIN_FILE=$APP_BIN_FILE" >> $GITHUB_ENV

      - name: Upload JAR as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prepare-jar
          path: target/${{ env.APP_BIN_FILE }}
          retention-days: 1

  Release-Perform:
    runs-on: ubuntu-latest
    needs: Release-Prepare

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'



      - name: Cache Maven settings
        uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/settings.xml
          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-settings-

      - name: Download release.properties
        uses: actions/download-artifact@v5
        with:
          name: release.properties

      - name: Download pom xml.releaseBackup
        uses: actions/download-artifact@v5
        with:
          name: pom.xml.releaseBackup

      - name: Download Pom XML
        uses: actions/download-artifact@v5
        with:
          name: pom.xml

      - name: Release Perform
        run: |
          git config --global user.email "devops@astrapay.com"
          git config --global user.name "Devops Astrapay"
          ./mvnw -B release:perform -Darguments="-DskipTests -Ddependency-check.skip=true -Dmaven.javadoc.skip=true"
          ls -al target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Rollback-Version:
    needs: Release-Perform
    if: ${{ (failure() || cancelled()) && needs.Release-Prepare.result == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Restore Maven Settings
        uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/settings.xml
          key: ${{ runner.os }}-maven-settings-${{ hashFiles('**/.m2/settings.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-settings-

      - name: Rebase Repo
        run: |
          git config --global user.email "devops@astrapay.com"
          git config --global user.name "Devops Astrapay"
          git pull origin master

      - name: Download release.properties
        uses: actions/download-artifact@v5
        with:
          name: release.properties

      - name: Download pom xml.releaseBackup
        uses: actions/download-artifact@v5
        with:
          name: pom.xml.releaseBackup

      - name: Download Pom XML
        uses: actions/download-artifact@v5
        with:
          name: pom.xml

      - name: Get Release Tag
        id: get_tag
        run: |
          TAG_NAME=$(cat release.properties | grep scm.tag= | sed 's/scm.tag=//')
          echo "RELEASE_TAG=$TAG_NAME" >> $GITHUB_ENV

      - name: Rollback release
        run: |
          ./mvnw -B release:rollback -DscmCommentPrefix="[maven-release-plugin][ci-skip]"
          git config --global user.email "devops@astrapay.com"
          git config --global user.name "Devops Astrapay"
          git push --delete origin $RELEASE_TAG
          git tag -d $RELEASE_TAG
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
